    .header {
        background-image: url(../imgs/aboutus/banner.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 100%;
        height: 7.44rem;
        width: 100%;
    }
    
    .nav-wrap {
        padding-top: .2rem;
        overflow: hidden;
    }
    
    .logo-wrap {
        float: left;
    }
    
    .nav-content.left {
        float: left;
        overflow: hidden;
    }
    
    .nav-content.right {
        float: right;
        overflow: hidden;
    }
    
    .logo-wrap {
        margin-left: .32rem;
        width: 1.36rem;
        margin-right: .54rem;
    }
    
    .nav-content li {
        float: left;
        font-size: .18em;
        padding-right: .7rem;
        height: .35rem;
        line-height: .35rem;
    }
    
    .nav-content a {
        display: block;
        color: #fff;
    }
    
    .nav-content a:hover {
        opacity: .5;
    }
    
    .header-content {
        /*padding-left: 3.7rem;*/
        padding-top: 2.4rem;
        color: #fff;
    }
    
    .header-content h2 {
        font-size: .36em;
        text-align: center;
    }
    
    .header-content h3 {
        font-size: .48em;
        font-weight: bold;
        text-align: center;
    }

    .content-aboutinvoice {
        text-align: center;
        overflow: hidden;
    }

    .content-aboutinvoice h3 {
        font-size: 0.48rem;
        color: #000;
        padding-top: 0.8rem;
        padding-bottom: 0.35rem;
    }

    .content-aboutinvoice p {
        font-size: 0.14em;
        color: #333;
        line-height: 0.31rem;
    }
    .content-billing {
    /*height: 6.5rem;*/
    overflow: auto;
    /*text-align: center;*/
}
.content-billing h2 {
    text-align: center;
    font-size: .48em;
    color: #000;
    padding-top: .99rem;
     margin-bottom: .6rem;
}

.billing-list{
   
    width: 11.7rem;
    height: 2.7rem;
    /*padding: .3rem 3.74rem .99rem;*/
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 0 1px 16px#cecece, 0 0 1px#cecece, 0 0 1px#cecece;
}

.billing-list li {
    float: left;
    padding-top: .5rem;
    padding-right: .3rem;
    padding-left: .35rem;
    width: 1rem;
    margin: 0 auto;
}

.billing-list li:last-child {
    padding-right: 0;
}
.billing-list img {
    width: 100%;
}

.billing-list span {
    font-size: .18em;
    text-align: center;
    color: #000;
    display: block;
}

.content-advantage{
    background: -ms-linear-gradient( #5c7cfb, #0081ff, #3bb3ff);
    background: -webkit-linear-gradient( #5c7cfb, #0081ff, #3bb3ff);
    background: -o-linear-gradient( #5c7cfb, #0081ff, #3bb3ff);
    background: -moz-linear-gradient( #5c7cfb, #0081ff, #3bb3ff);
    /*background:linear-gradient( #5c7cfb, #0081ff, #3bb3ff) ;*/
    margin-top: .9rem;
    text-align: center;
    padding-bottom: 1.44rem;
    overflow: auto;
}

.content-advantage h3 {
    padding-top: 1rem;
    padding-bottom: .6rem;
    font-size: .48em;
    color: #fff;
}

.advantage-list {
    display: table;
    margin: auto;
    border-spacing: .3rem;
}

.advantage-list li {
    display: table-cell;
    width: 2.7rem;
    height: 3.7rem;
    background-color: #fff;
}

.advantage-list li:last-child {
    margin-right: 0;
}

.advantage-list img {
    width: 1.2rem;
    display: block;
    margin: .6rem auto 0;
}

.advantage-list h2 {
    margin-top: .23rem;
    display: block;
    font-size: .24em;
    color: #000;
}
.advantage-list p {
    display: block;
    font-size: .14em;
    height: .25rem;
    line-height: 0.25rem;
    color: #333;
    margin-top: .19rem;
    padding:0 .25rem;
}

.content-user {
    text-align: center;
    color: #fff;
}

.content-user .content-carousel-cell {
    background-size: 100% 100%;
}

.content-user h3 {
    font-size: .48em;
    padding: 1rem 0 .6rem;
}

.content-user h4 {
    font-size: .24em;
    padding-bottom: .3rem;
}

.content-user p {
    font-size: .18em;
    line-height: 1.5;
    width: 8.24rem;
    margin: auto;
}

.content-user .flickity-page-dots {
    bottom: .4rem;
}

.content-user .flickity-page-dots .dot {
    background: #008cf7;
    width: .16rem;
    height: .16rem;
    margin: 0 .04rem;
}

.content-user .content-carousel-cell .bg {
    background-color: #000;
    opacity: .3;
    height: 100%;
    width: 100%;
    position: absolute;
}

.content-process {
    /*height: 6.5rem;*/
    overflow: auto;
    /*text-align: center;*/
    background-color: #f7f7f7;
}
.content-process h2 {
    text-align: center;
    font-size: .48em;
    color: #000;
    padding-top: .99rem;
     margin-bottom: .6rem;
}

.process-list{
   
    width: 11.7rem;
    height: 2.7rem;
    /*padding: .3rem 3.74rem .99rem;*/
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 0 1px 16px#cecece, 0 0 1px#cecece, 0 0 1px#cecece;
}

.process-list li {
    float: left;
    padding-top: .5rem;
    padding-right: .3rem;
    padding-left: .35rem;
    width: 1rem;
    margin: 0 auto;
}

.process-list li:last-child {
    padding-right: 0;
}
.process-list img {
    width: 100%;
}

.process-list span {
    font-size: .18em;
    text-align: center;
    color: #000;
    display: block;
}

.content-platform{
    margin-top: .9rem;
    text-align: center;
    padding-bottom: 0.6rem;
    overflow: auto;
}

.content-platform h3 {
    padding-top: .5rem;
    padding-bottom: .6rem;
    font-size: .48em;
    color: #000;
}

.platform-list {
    display: table;
    margin: auto;
    border-spacing: .3rem;
}

.platform-list li {
    display: table-cell;
    width: 4.7rem;
    height: 2.5rem;
    background-color: #fff;
    box-shadow: 0 1px 16px#cecece, 0 0 1px#cecece, 0 0 1px#cecece;

}

.platform-list li:last-child {
    margin-right: 0;
}

.platform-list img {
    width: 1.2rem;
    display: block;
    margin: .6rem auto 0;
}

.platform-list h2 {
    margin-top: .23rem;
    display: block;
    font-size: .24em;
    color: #000;
}





    
    .content-carousel {
        padding-top: 1rem;
    }
    
    .content-carousel-cell {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto 100%;
        height: 6.96rem;
    }
    
    .content-carousel-title {
        color: #000;
        font-size: .48em;
        text-align: center;
        padding-bottom: .4rem;
    }
    
    .flickity-wrap {
        position: relative;
    }
    
    .btn-flickity {
        position: absolute;
        top: 50%;
        width: .44rem;
        height: .86rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: .24rem auto;
    }
    
    .btn-flickity.prev {
        left: 0rem;
        background-image: url(../imgs/payment/Carousel/leftarr.png);
    }
    
    .btn-flickity.next {
        right: 0rem;
        background-image: url(../imgs/payment/Carousel/leftarr.png);
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }
    
    .btn-flickity.next:hover {
        background-image: url(../imgs/payment/Carousel/rightarr.png);
        background-color: #4b7cfc;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    
    .btn-flickity.prev:hover {
        background-image: url(../imgs/payment/Carousel/rightarr.png);
        background-color: #4b7cfc;
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }
    
    .content-carousel-label {
        display: table;
        margin: .3rem auto 0;
    }
    
    .content-carousel-label li {
        display: table-cell;
        font-size: .2em;
        color: #333;
        width: 1.4rem;
        height: .5rem;
        text-align: center;
        box-sizing: border-box;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .content-carousel-label li.active {
        border: 1px solid #4b7cfc;
    }
    
  .footer {
    overflow: auto;
    color: #fff;
}

.footer-content {
    background-color: #252525;
    padding-left: 3.7rem;
    padding-top: .6rem;
    padding-bottom: .7rem;
    overflow: hidden;
}

.footer-content ul {
    float: left;
    overflow: hidden;
}

.footer-content li {
    float: left;
    padding-right: 1.2rem;
}

.footer-content li:last-child {
    padding-right: 0;
}

.footer-content h3 {
    font-size: .24em;
    padding-bottom: .5rem;
}

.footer-content a {
    display: block;
    font-size: .14em;
    color: #fff;
    padding-bottom: .16rem;
}

.footer-content a:hover {
    opacity: .5;
}

.footer-logo{
    float: left;
    padding-left: 2.12rem;
    width: 2.12rem;
}

.footer-logo img {
    width: 100%;
    margin-top: -0.25rem;
    margin-left: 0.8rem;
}
.footerlogo-list {
    float: left;
    padding-left: 2.12rem;
    width: 3rem;
}
.footerlogo-list .weico {
    width: 1.2rem;
    float: left;
}
.footerlogo-list .weibo {
    width: 1.2rem;
    float: right;
}
.weico img{
   width: 100%;
}
.weibo img{
    width: 100%;
}
.footerlogo-list p{
	font-size: .14em;
	color :#fff;
}
.footer-code {
    padding: .1rem 3.7rem;
    overflow: hidden;
    background-color: #181818;
}

.footer-code span {
    display: block;
    float: left;
    font-size: .12em;
    line-height: 1.5;
}

.footer-code span:last-child {
    float: right;
}

.flickity-page-dots .dot.is-selected {
    width: .3rem;
    border-radius: .08rem;
}
