a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
    font-family:  "microsoft yahei";
}